:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.chart-container {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
}