:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.chart-container {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-lg);
    overflow: hidden;
}
